*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #333;
}

.navbar_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left div{
    display: flex;
    align-items: center;
}


.logo{
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.right a{
    text-decoration: none;
    color: #fff;
    margin: 5px;
    padding: 10px;
    transition: .3s ease;
}

.right a:hover{
    cursor: pointer;
    background-color: #444;
    color: #f7c08a;
    border-radius: 4px;
}

.main {
    padding-top: 15%;
    background-image: url("https://q-xx.bstatic.com/xdata/images/hotel/840x460/181660540.jpg?k=59740de12eb842bf4e0265035f105494a8cc4655695da08df1627f80390a0a1d&o=");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}
.main_content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_content_box h1{
    text-align: center;
    color: #f7c08a;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}
.main_content_box p{
    color: white;
    font-size: 1rem;
    text-align: center;
}

.main_content_box button{
    padding: 1rem;
    background: #f7c08a;
    border-radius: 3px;
    transition: .2s ease;
    margin-left: 45%;
    border: none;
    margin-top: 1rem;

}

.main_content_box button:hover {
    background: white;
    color: crimson;
    text-align: center;
}